.blue {
    background: #007AFF;
}

.red {
    background: #FF3B30;
}

.green {
    background: #34C759;
}

.theme-bg-green{
    background: #34C759;
}

input.checkbox {
	height: 13px;
	width: 13px
}

/* Icon */
i {
    margin-left: 1.5vh;
}

/* Table */
.table-wrapper {
    max-height: 75vh;
    overflow: auto;
    display: inline-block;
}

/* Toast */
.toast-update, .toast-tambah, .toast-hapus{
    background: #007AFF;
    padding: 20px;
    text-align: center;
    width: max-content;
    position: fixed;
    top: 10px;
    right: 10px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #007AFF;
}

.toast-tambah{
    background: #34C759;
}
.toast-hapus{
    background: #FF3B30;
}

/* Sidebar */
.theme-sidebar {
    height: 100vh;
}

.theme-top-sidebar {
    height: 75vh;
    margin-top: 5vh;
}

.theme-title {
    font-size: 48px;
    font-weight: bold;
}

::-webkit-input-placeholder {
    font-size: 15px !important;
}

.center {
    display: block;
    width: 100%;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.theme-sidebar a {
    text-decoration: none;
    display: block;
    color: #fff;
    transition: 0.3s;
    margin-top: 0.5vh;
}

.theme-sidebar-menu {
    vertical-align: center;
    width: 95%;
    padding: 20px;
    font-weight: bold;
    color: #fff;
    border-end-end-radius: 50px;
    border-start-end-radius: 50px;
    cursor: pointer;
    font-size: 2vh;
}

.theme-sidebar-menu-active {
    vertical-align: center;
    width: 95%;
    padding: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #007AFF;
    border-end-end-radius: 50px;
    border-start-end-radius: 50px;
    cursor: pointer;
    background: #fff;
}

.theme-sidebar-menu:hover {
    padding: 20px;
    width: 95%;
    text-decoration: none;
    font-weight: bold;
    background: #fff;
    color: #007AFF;
}

.theme-subtitle {
    color: #8e8e93;
}

.margintop {
    margin-top: 80px;
}

/* CSS Modal */

.modal-header,
.modal-title {
    background-color: #007AFF;
    color: white;
    font-weight: bold;
}