.masuk {
  font-size: 96px;
  font-weight: bold;
}

.daftar{
  font-size: 96px;
  font-weight: bold;
  margin-top: 200px;
}

button {
  border-radius: 7.5px !important;
  width: 200px;
  height: 50px;
  font-weight: bold !important;
}

input {
  border: 1px solid #8e8e93;
  height: 50px;
}

.active {
  background-color: #ffffff;
  color: #007aff;
  border-radius: 75px;
}

/* ========== Default React (JANGAN EDIT NANTI ERROR) ========== */
body * {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}