/* Tampilan Web */
.title-masuk {
  font-size: 96px;
  font-weight: 700;
}

/* .title {

} */

button {
  background-color: #007aff;
  border-radius: 7.5px;
  border: none;
  width: 175px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  line-height: 50px;
  text-align: center;
}

input {
  background-color: #ffffff;
  border-radius: 7.5px;
  border: 1px solid #8e8e93;
  width: 500px;
  height: 50px;
  text-indent: 15px;
}

input::placeholder {
  font-size: 24px;
  font-weight: 500;
}



.active {
  background-color: #ffffff;
  color: #007aff;
  border-radius: 75px;
}


/* Default React (JANGAN EDIT NANTI ERROR) */
body * {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}